@font-face{
    src: url("/font/Lausanne-Regular.otf");
    font-family: "laussane";
    font-weight: 500;
}

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "lausanne";

}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    /* background-color: #494949; */
}
#nav{
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    width: 100%;
    height: 70px;
    border-bottom: 0.2px solid #fff;
z-index: 99999;
}

#nav .options{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 3vw;
    color: #fff;
    font-weight: 500;
    width: calc(100%/3);
    height: 100%;
    font-size: 14px;
}

.options .cover{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 3vw;
    color: #000;
    z-index: 999;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 0%;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    background-color: #4f4f4f5d;
}
 
.cover span{
opacity: 0;
pointer-events: none;

}
.others span{
    color: #fff;
}

.options:nth-child(1) .cover{
background-color: #fff;
color: #000;
height: 3px;
}

#fs{
    display: flex;
    position: fixed;
    z-index: 99999999;
    color: #fff;
    font-family: gilroy;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  font-size: 5vw;
    width: 100%;
    height: 100%;
    background-color: #333;
}
#fs span{
    font-weight: 700;
    display: inline-block;
    -webkit-transform: translateY(200%);
        -ms-transform: translateY(200%);
            transform: translateY(200%);
}
#fs h1{
    position: relative;
    z-index: 9999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 10vw;
    overflow: hidden;
}

#cube{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    width: 20%;
    height: 40%;
    /* background-color: red; */

}
#cube img{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;

}
#home{
   position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100vh;
}

.container{
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.container .textdiv{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    z-index: 999999;
    width: 100%;
    height: 100%;
}

.container img{
   width: 100%;
   
}

.text{ 
    z-index: 99999;
    color: #fff;
white-space: nowrap;
}

.text h1{
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    font-size: 9vw;
    font-weight: 500;
}
 .text h1 span{
    display: inline-block;
    -webkit-transform: translateY(150%);
        -ms-transform: translateY(150%);
            transform: translateY(150%);
 }

.text .line{ 
    /* z-index: 99999; */
   /* animation:anim 2s cubic-bezier(0.19, 1, 0.22, 1) both; */
   position: relative;
   width:0%;   
   border-bottom: 8px solid #fff; 
}

#second{
    position: relative;
    width: 100%;
    height: 100vh;
    
}
#third{
    position: relative;
    width: 100%;
    height: 100vh;
}
#fourth{
    position: relative;
    width: 100%;
    height: 100vh;
}
#fifth{
    position: relative;
    width: 100%;
    height: 100vh;
}
#sixth{
    position: relative;
    width: 100%;
    height: 100vh;
}
#seventh{
    position: relative;
    width: 100%;
    height: 100vh;
}
#eighth{
    position: relative;
    width: 100%;
    height: 100vh;
}
#nineth{
    position: relative;
    width: 100%;
    height: 100vh;
}
#tenth{
    position: relative;
    width: 100%;
    height: 100vh;
}
#eleventh{
    position: relative;
    width: 100%;
    height: 100vh;
}
#twelth{
    position: relative;
    width: 100%;
    height: 100vh;
}
#thirteenth{
    position: relative;
    width: 100%;
    height: 100vh;
}
#fourteenth{
    position: relative;
    width: 100%;
    height: 100vh;
}
#fifteenth{
    position: relative;
    width: 100%;
    height: 100vh;
}
#sixteenth{
    position: relative;
    width: 100%;
    height: 100vh;
}
#seventeenth{
    position: relative;
    width: 100%;
    height: 100vh;
}
#eighteenth{
    position: relative;
    width: 100%;
    height: 100vh;
}
#nineteenth{
    position: relative;
    width: 100%;
    height: 100vh;
}


@media(max-width: 500px){  /* targetting screen size*/
.text h1{
    font-size: 14vw;
}

.text .line {
    height: 5px;
}
.container img{
    width: 100%;
    height: 178vw;
 }

.text{
    max-width: 80%;
    white-space: wrap;
}

.text h1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.options{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: initial;
}
.options .cover{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: initial;
}
}